@model Chatuniverse.Models.ForumPostViewModel

@{
    ViewData["Title"] = "GetComments";
}

<h1>GetComments</h1>

@if (Model.Post.Comments.Any())
{
    <table class="table table-hover table-bordered" id="PostModel">
        <tbody>
            @foreach (var comment in Model.Post.Comments)
            {
                <tr>
                    <td>
                        @comment.Id
                    </td>

                    <td>
                        @comment.Text
                    </td>
                </tr>
            }
        </tbody>
    </table>
}
else
{
    <div class="Nocomment" method="get">
        <h3>
            There are no Comments for @Model.Post.Posttitel
        </h3>
    </div>
}